* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
  color: #fff;
  max-width: 800px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}